TF_Content: |-
  #!/bin/sh

  export TF_VAR_eaas_app_name=$ROOST_APP_NAME
  export TF_VAR_eaas_namespace=$ROOST_NAMESPACE

  terraform init

  terraform apply --auto-approve
TF_Repo:
  id: ""
  key: terraform
  title: roost-io/terraform
  owner: roost-io
TF_Branch: main
TF_Git_path: ""
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-07-22T08:45:12.486Z
